@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Bona Nova', serif;
}
body{
    background-color: chartreuse;
}
.main{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.heading h1{
    color: #030e12;
    font-size: 48px;
    font-weight: 900;
    margin-top: 30px;
    letter-spacing: 1px;
    padding-top: 2rem;
    margin: 1rem;
}
.search-bar{
    margin: 1rem 0;
    width: 400px;
    height: 30px;
    border: none;
    outline: none;
    border-radius:  10px;
    padding: 0.3rem 1rem;
}
.container{
    width: 80%;
    margin: 25px auto;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit,minimax(150px,1fr));
    grid-gap: 2rem;
    justify-content: space-around;
}
.card{
    width: 180px;
    border-radius: 1rem;
    background-color: #030e12;
    padding: 5px;   
}
img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
.card:hover{
    cursor: pointer;
}
.card h3{
    color: white;
    font-size: 19px;

}
.numBoxContainer{
    display: flex;
    margin: 2.5rem o;
}

.numBox:hover {
    cursor: pointer;
    background-color: #505050;
  }  
.numBox{
    width: 50px;
    height: 40px;
    background-color: #030e12;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 5px 0 5px;
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.content img{
    width: 100%;
    height: 600px;
}
.content .inner-content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    height: 200px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.recipe-details{
    width: 70%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ingredients,.instructions{
    flex-basis: 50px;
    text-align: justify;
    overflow: scroll;
    height: 400px;
}
.ingredients h4{
    margin-top: 1.5rem;
    font-weight: bold;
}
iframe{
    height: 515px;
    width: 100%;
}
.video{
    width: 80%;
    margin: 3rem auto;
    align-self: center;
}